<div class="spacer"></div>
<div class="spacer"></div>


<div class="card my-5">
  <div class="card-body">
    <input type="text" [(ngModel)]="search" class="form-control" id="search" name="search" placeholder="Search.."
           required #name="ngModel">
    <td><button (click)="searchAction(search)" type="button" class="btn btn-primary" [disabled]="search.length==0">Search</button></td>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Invoice number</th>
        <th scope="col">Invoice subject</th>
        <th scope="col">Insert date</th>
        <th scope="col">Invoice status</th>
        <th scope="col">currency</th>
        <th scope="col">Invoice amount TND</th>
        <th scope="col">description</th>



      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of depenses | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ u.numFacture }}</td>
        <td>{{ u.objetFacture }}</td>
        <td>{{ u.dateInsertion }}</td>
        <td>{{ u.statutFacture }}</td>
        <td>{{ u.devise }}</td>
        <td>{{ u.montantFactureTND }}</td>
        <td>{{ u.description }}</td>

        <td><button (click)="deleteDepense(u.id)" type="button" class="btn btn-primary btn-lg btn-floating"><fa-icon [icon]="faTrashCan"></fa-icon></button></td>
        <td><button  routerLink="/Depense" type="button" class="btn btn-primary btn-lg btn-floating" data-toggle="modal" data-target="#exampleModal" (click)="edit(u)"><fa-icon [icon]="faPenToSquare"></fa-icon></button></td>
        <td><button  routerLink="/Depense" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" (click)="findFacture(u)">Suivi Facture</button></td>
        <td><button  routerLink="/Depense" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4" (click)="findContatDeMarche(u)">Contrat</button></td>
      </tr>
      </tbody>

    </table>
    <div class="mt-8 py-5 flex justify-center items-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <td><button [routerLink]="['/AddDepense']" type="button" class="btn btn-primary">add Depense</button></td>

  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Depense</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateDepense()">
            <div class="form-group">
              <label for=numFacture>numFacture :</label>
              <input type="text" #address [(ngModel)]="depense.numFacture" name="numFacture" id="numFacture"
                     class="form-control" placeholder="numFacture">
            </div>
            <div class="form-group">
              <label for="objetFacture">objetFacture :</label>
              <input type="text" #address [(ngModel)]="depense.objetFacture" name="objetFacture" id="objetFacture"
                     class="form-control" placeholder="objetFacture">
            </div>
            <div class="form-group">
              <label for="dateInsertion">dateInsertion :</label>
              <input type="date" #address [(ngModel)]="depense.dateInsertion" name="dateInsertion" id="dateInsertion"
                     class="form-control" placeholder="dateInsertion">
            </div>
            <div class="form-group">
              <label for="devise">devise :</label>
              <input type="text" #address [(ngModel)]="depense.devise" name="devise" id="devise"
                     class="form-control" placeholder="devise">
            </div>

            <div class="form-group">
              <label for="montantFactureTND">montantFactureTND :</label>
              <input type="text" #address [(ngModel)]="depense.montantFactureTND" name="montantFactureTND" id="montantFactureTND"
                     class="form-control" placeholder="montantFactureTND">
            </div>
            <div class="form-group">
              <label for="description">description :</label>
              <input type="text" #address [(ngModel)]="depense.description" name="description" id="description"
                     class="form-control" placeholder="description">
            </div>
            <div class="form-group">
              <label for="statutFacture">statutFacture :</label>
              <input type="text" #address [(ngModel)]="depense.statutFacture" name="statutFacture" id="statutFacture"
                     class="form-control" placeholder="statutFacture">
            </div>


            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>

            <div class="form-group">
              <input type="submit" value="Update" class="btn btn-primary w-100">
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>






  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">Suivi Facture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>date Reception DCD :</label>
              <h2>{{facture.dateReceptionDCD}} </h2>


            </div>
            <div class="form-group">
              <label>date Envoi Direction Support Maintenance :</label>
              <h2>{{facture.dateEnvoiDirectionSupportMaintenance}} </h2>


            </div>
            <div class="form-group">
              <label>date Retour Direction Support Maintenance :</label>
              <h2>{{facture.dateRetourDirectionSupportMaintenance}} </h2>


            </div>
            <div class="form-group">
              <label>date Validation Chef Departement :</label>
              <h2>{{ facture.dateValidationChefDepartement}} </h2>


            </div>
            <div class="form-group">
              <label>date Retour Validation Chef Departement  :</label>
              <h2>{{facture.dateRetourValidationChefDepartement}} </h2>


            </div>
            <div class="form-group">
              <label>date Incident Fournisseur :</label>
              <h2>{{facture.dateIncidentFournisseur}} </h2>
            </div>
            <div class="form-group">
              <label>date Regularization Fournisseur :</label>
              <h2>{{facture.dateRegularizationFournisseur}} </h2>
            </div>
            <div class="form-group">
              <label>date Ordonnancement DCD :</label>
              <h2>{{facture.dateOrdonnancementDCD}} </h2>
            </div>
            <div class="form-group">
              <label>date Retour DCD :</label>
              <h2>{{facture.dateRetourDCD}} </h2>
            </div>
            <div class="form-group">
              <label>Date 2 Ordonnancement DCD :</label>
              <h2>{{facture.Date2OrdonnancementDCD}} </h2>
            </div>



          </form>
        </div>

      </div>
    </div>
  </div>





  <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Contrat</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>reference :</label>
              <h2>{{contrat.reference}}</h2>

            </div>
            <div class="form-group">
              <label>objet Contrat :</label>
              <h2>{{contrat.objetContrat}}</h2>


            </div>
            <div class="form-group">
              <label> intitule Projet :</label>
              <h2>{{contrat.intituleProjet}}</h2>

            </div>
            <div class="form-group">
              <label>montantHT :</label>
              <h2>{{contrat.montantHT}}</h2>


            </div>
            <div class="form-group">
              <label>montantTTC :</label>
              <h2>{{contrat.montantTTC}}</h2>

            </div>
            <div class="form-group">
              <label>devise :</label>
              <h2>{{contrat.devise}}</h2>


            </div>
            <div class="form-group">
              <label>delai Garantie :</label>
              <h2>{{contrat.delaiGarantie}}</h2>

            </div>
            <div class="form-group">
              <label>observation :</label>
              <h2>{{contrat.observation}}</h2>

            </div>
            <div class="form-group">
              <label>date Acquisition :</label>
              <h2>{{contrat.dateAcquisition}}</h2>

            </div>
            <div class="form-group">
              <label>date Reception Provisoire :</label>
              <h2>{{contrat.dateReceptionProvisoire}}</h2>

            </div>
            <div class="form-group">
              <label>date Reception Definitive :</label>
              <h2>{{contrat.dateReceptionDefinitive}}</h2>

            </div>
            <div class="form-group">

            </div>


          </form>
        </div>





      </div>
