<div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <i class="nc-icon nc-ruler-pencil"></i>
    </div>
    <div class="value">
      <div class="top">{{projetInvestissments.length}}</div>
      <div class="bottom">Projects</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <i class="nc-icon nc-single-02"></i>
    </div>
    <div class="value">
      <div class="top">{{fournisseurs.length}}</div>
      <div class="bottom">Suppliers</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <i class="nc-icon nc-money-coins"></i>
    </div>
    <div class="value">
      <div class="top">{{budgetInvestissements.length}}</div>
      <div class="bottom">Investment Budgets</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <i class="nc-icon nc-money-coins"></i>
    </div>
    <div class="value">
      <div class="top">{{budgetMaintenances.length}}</div>
      <div class="bottom">Maintenances Budget</div>
    </div>
  </div>
</div>
