<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">

      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        <div class="logo-image-big">
          <img src="./assets/media/logos/background.jpg">
        </div>
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a  routerLink="/entiteSI" routerLinkActive="active"  href="javascript:;">
            <i class="nc-icon nc-bank"></i>
            <p>EntiteSI</p>
          </a>
        </li>
        <li class="active" >
          <a routerLink="/user" routerLinkActive="active" href="javascript:; ">
            <i class="nc-icon nc-circle-10"></i>
            <p>Users</p>
          </a>
        </li>
        <li class="active">
          <a routerLink="/fournisseur" routerLinkActive="active" href="javascript:; ">
            <i class="nc-icon nc-pin-3"></i>
            <p>Fournisseur</p>
          </a>
        </li>
        <li class="active">
        <a routerLink="/projets" routerLinkActive="active" href="javascript:; ">
          <i class="nc-icon nc-pin-3"></i>
          <p>Projects</p>
        </a>
      </li>
        <li class="active">
          <a routerLink="/budgetInvestissement" routerLinkActive="active" href="javascript:; ">
            <i class="nc-icon nc-pin-3"></i>
            <p>Budget Investissement</p>
          </a>
        </li>
        <li class="active">
          <a routerLink="/contratDeMarche" routerLinkActive="active" href="javascript:; ">
            <i class="nc-icon nc-pin-3"></i>
            <p>Contrat De Marche</p>
          </a>
        </li>
        <li class="active">
          <a routerLink="/comiteTechnique" routerLinkActive="active" href="javascript:; ">
            <i class="nc-icon nc-pin-3"></i>
            <p>Comite Technique  </p>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="main-panel" style="height: 100vh;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <!--<a class="navbar-brand" href="javascript:;">Title</a>-->
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">

          <ul class="navbar-nav">
            <li>
              <a href="javascript:;">
                <i class="nc-icon nc-app"></i>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a  (click)="logOut()" href="javascript:;">
                <i class="nc-icon nc-user-run"></i>
                <p>Logout</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->



  <router-outlet></router-outlet>
  </div>

</div>
</body>


