<div class="card my-5">
  <div class="card-body">




    <div class="custom-select" style="width:200px;" >
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">
      <label>EntiteSI:</label>
      <select [(ngModel)]="selected" name="entiteSI" >
        <option>Select EntiteSI</option>
        <option *ngFor="let n of entiteSIs">{{n.name}}</option>
      </select>
          </th>
          <th scope="col">

          <button (click)="test()" type="button" class="btn btn-primary">search</button>
          </th>

          <th scope="col">
            <label>Sort By:</label>
            <select [(ngModel)]="selectedd" name="sort" >
              <option>Sort By</option>
              <option *ngFor="let n of sort">{{n}}</option>
            </select>
          </th>
          <th scope="col">

            <button (click)="sorting()" type="button" class="btn btn-primary">search</button>
          </th>
        </tr>
        </thead>
      </table>


    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Budget year</th>
        <th scope="col">Cost Serv study</th>
        <th scope="col">Software costs</th>
        <th scope="col">Material cost</th>
        <th scope="col">Budget N</th>
        <th scope="col">Budget 1</th>
        <th scope="col">Budget 2</th>
        <th scope="col">Budget 3</th>



      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of budgetInvestissements | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ e.anneebudgetaire }}</td>
        <td>{{ e.coutEtudeServ }}</td>
        <td>{{ e.coutLogiciel }}</td>
        <td>{{ e.coutMateriel }}</td>
        <td>{{ e.budgetN }}</td>
        <td>{{ e.budgetN1 }}</td>
        <td>{{ e.budgetN2 }}</td>
        <td>{{ e.budgetN3 }}</td>


        <td><button (click)="deleteBudgetInvestissement(e.id)" type="button" class="btn btn-primary btn-lg btn-floating"><fa-icon [icon]="faTrashCan"></fa-icon></button></td>
        <td><button  routerLink="/budgetInvestissement" type="button" class="btn btn-primary btn-lg btn-floating" data-toggle="modal" data-target="#exampleModal" (click)="edit(e)"><fa-icon [icon]="faPenToSquare"></fa-icon></button></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" (click)="show(e.id)">Show Project</button></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal4" (click)="showContrat(e.id)">Show Contrats</button></td>
      </tr>
      </tbody>

    </table>
    <div class="mt-8 py-5 flex justify-center items-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>




  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Budget Investissement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateBudgetInvestissement()">
            <div class="form-group">
              <label for=anneebudgetaire>Annee Budgetaire :</label>
              <input type="date" #address [(ngModel)]="budgetInvestissement.anneebudgetaire" name="anneebudgetaire" id="anneebudgetaire"
                     class="form-control" placeholder="Annee Budgetaire">
            </div>
            <div class="form-group">
              <label for=coutetudeserv>Cout Etude Serv :</label>
              <input type="text" #address [(ngModel)]="budgetInvestissement.coutEtudeServ" name="coutetudeserv" id="coutetudeserv"
                     class="form-control" coutetudeserv="Cout Etude Serv">
            </div>
            <div class="form-group">
              <label for=coutlogiciel>Cout Logiciel :</label>
              <input type="text" #address [(ngModel)]="budgetInvestissement.coutLogiciel" name="coutlogiciel" id="coutlogiciel"
                     class="form-control" placeholder="Cout Logiciel">
            </div>
            <div class="form-group">
              <label for=coutmateriel>Cout Materiel  :</label>
              <input type="text" #address [(ngModel)]="budgetInvestissement.coutMateriel" name="coutmateriel" id="coutmateriel"
                     class="form-control" placeholder="Cout Materiel">
            </div>
            <div class="form-group">
              <label for=budgetN>Budget N :</label>
              <input type="text" #address [(ngModel)]="budgetInvestissement.budgetN" name="budgetN" id="budgetN"
                     class="form-control" placeholder="Budget N">
            </div>
            <div class="form-group">
              <label for=budgetN1>Budget N1 :</label>
              <input type="text" #address [(ngModel)]="budgetInvestissement.budgetN1" name="budgetN1" id="budgetN1"
                     class="form-control" placeholder="Budget N1">
            </div>
            <div class="form-group">
              <label for=budgetN2>Budget N2 :</label>
              <input type="text" #address [(ngModel)]="budgetInvestissement.budgetN2" name="budgetN2" id="budgetN2"
                     class="form-control" placeholder="Budget N2">
            </div>
            <div class="form-group">
              <label for=budgetN3>Budget N3 :</label>
              <input type="text" #address [(ngModel)]="budgetInvestissement.budgetN3" name="budgetN3" id="budgetN3"
                     class="form-control" placeholder="Budget N3">
            </div>



            <div class="form-group">
              <input type="submit" value="Update" class="btn btn-primary w-100">
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>





  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">Update Projet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>codeProjet :</label>
              <h2>{{projetInvestissment.codeProjet}}</h2>
            </div>
            <div class="form-group">
              <label>intituleProjet :</label>
              <h2>{{projetInvestissment.intituleProjet}}</h2>


            </div>
            <div class="form-group">
              <label>descriptionSomaire :</label>
              <h2>{{projetInvestissment.descriptionSomaire}}</h2>


            </div>
            <div class="form-group">
              <label>categorie :</label>
              <h2>{{projetInvestissment.categorie}}</h2>

            </div>
            <div class="form-group">
              <label>classification :</label>
              <h2>{{projetInvestissment.classification}}</h2>

            </div>
            <div class="form-group">
              <label>natureBesoin  :</label>
              <h2>{{projetInvestissment.natureBesoin}}</h2>

            </div>
            <div class="form-group">
              <label>type :</label>
              <h2>{{projetInvestissment.type}}</h2>

            </div>
            <div class="form-group">
              <label>quantite :</label>
              <h2>{{projetInvestissment.quantite}}</h2>

            </div>

            <div class="form-group">
              <label>prixUnitaireTTC :</label>
              <h2>{{projetInvestissment.prixUnitaireTTC}}</h2>

            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary w-100" data-dismiss="modal">Close</button>

            </div>

          </form>
        </div>

      </div>
    </div>
  </div>






  <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Update Projet</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>

            <div class="card my-5">
              <div class="card-body">

                  <tr *ngFor="let u of contrats">
                    <h2>{{ u.reference }}</h2>
                    <label>objetContrat :</label>
                    <h4>{{ u.objetContrat }}</h4>
                    <label>intituleProjet : </label>
                    <h4>{{ u.intituleProjet }}</h4>
                    <label>montantHT :</label>
                    <h4>{{ u.montantHT }}</h4>
                    <label>montantTTC : </label>
                    <h4>{{ u.montantTTC }}</h4>
                    <label>devise :</label>
                    <h4>{{ u.devise }}</h4>
                    <label>delaiGarantie :</label>
                    <h4>{{ u.delaiGarantie }}</h4>
                    <label>observation :</label>
                    <h4>{{ u.observation }}</h4>
                    <label>dateAcquisition :</label>
                    <h4>{{ u.dateAcquisition}}</h4>
                    <label>dateReceptionProvisoire :</label>
                    <h4>{{ u.dateReceptionProvisoire }}</h4>
                    <label>.dateReceptionDefinitive :</label>
                    <h4>{{ u.dateReceptionDefinitive }}</h4>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>

                  </tr>


              </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary w-100" data-dismiss="modal">Close</button>

            </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>



</div>
